<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <title>@ViewBag.Title - Galibelle</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link href="../Content/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="../fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../Scripts/gritter/css/jquery.gritter.css" />
    
    <link rel="stylesheet" type="text/css" href="../icon/style.css">

    <!-- Custom styles for this template -->
    <link href="../Content/style.css" rel="stylesheet">
    <link href="../Content/style-responsive.css" rel="stylesheet">

    <script src="../Scripts/chart-master/Chart.js"></script>
    <link rel="icon" type="image/png" href="~/img/ui-sam.jpg" />
</head>
<body>
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b>GALIBELLE</b></a>
        <!--logo end-->
        
        
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="login.html">Salir</a></li>
            </ul>
        </div>
    </header>
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="profile.html"><img src="../img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                <h5 class="centered">Administrador</h5>

                <li class="mt">
                    <a class="active" href='@Url.Action("Index","Galibelle")'>
                        <i class="fa fa-star"></i>
                        <span>Inicio</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-list-alt"></i>
                        <span>Productos</span>
                    </a>
                    <ul class="sub">
                        <li><a href="general.html">Straps</a></li>
                        <li><a href="buttons.html">Suelas</a></li>
                        <li><a href="panels.html">Todos</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-university"></i>
                        <span>Sucursales</span>
                    </a>
                    <!--<ul class="sub">
                        <li><a href="calendar.html">Calendar</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="todo_list.html">Todo List</a></li>
                    </ul>-->
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-line-chart"></i>
                        <span>Estadísticas</span>
                    </a>
                    
                </li>
                
               

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    @RenderBody()
</body>
    
<footer class="site-footer">
    <div class="text-center">
        2016 - G A L I B E L L E
        <a href="index.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
</html>
    
