@model galibelle.Models.Usuarios

@{
    ViewBag.Tittle = "Galibelle";
    Layout = null;

}

<head>


    <!-- Bootstrap core CSS -->
    <link href="../Content/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="../fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../Content/style.css" rel="stylesheet">
    <link href="../Content/style-responsive.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/img/logo1.png" />
  
</head>

<body>

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->

    <div id="login-page">
        <div class="container">
            
           @using (Html.BeginForm("Login", "Galibelle", FormMethod.Post))
           { 

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-login">
                <h2 class="form-login-heading">Iniciar sesión </h2>
                <div class="login-wrap">
               
                    @Html.TextBoxFor(a=>a.usuario, htmlAttributes: new { @class = "form-control" , placeholder = "Usuario" })
                    @Html.ValidationMessageFor(a=>a.usuario)
                                       
                    <br>

                    @Html.PasswordFor(a=>a.password, htmlAttributes: new { @class= "form-control", placeholder = "Contraseña" })

                    <label class="checkbox">
                        <span class="pull-right">
                            <a data-toggle="modal" ></a>

                        </span>
                    </label>
                    <button class="btn btn-theme btn-block"  type="submit"><i class="fa fa-lock"></i>INGRESAR</button>
                    

                   <!--
                    <div class="registration">
                        Don't have an account yet?<br />
                        <a class="" href="#">
                            Create an account
                        </a>
                    </div>-->

                </div>

               

            </div>
            }
        </div>
    </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="../Scripts/jquery.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="../Scripts/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("../img/login-bg.jpg", {speed: 500});
    </script>


</body>
