@model galibelle.Models.MyViewModel
@{

    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    * {
        background-repeat: no-repeat;
        box-sizing: border-box;
    }

    #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                background-color: #f1f1f1;
            }
</style>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet"
      href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript"
        src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
        src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<section id="container">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="grey-panel2 donut-chart">
                        <div class="grey-header2 col-md-12">

                            <div class="col-md-12">
                                <h3 style="font-weight:bold; color:white;">STRAPS</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-white">

                <div class="panel-body">
                    <button type="button" onclick="location.href='@Url.Action("ListaSucursales", "Galibelle")'" class="btn btn-success m-b-sm pull-left">Regresar</button>

                    <div class="table-responsive">
                        <!--<div class="dataTables_length" id="example3_length"><label>Show <select name="example3_length" aria-controls="example3" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                        <div id="example3_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="example3"></label></div>-->


                        <table id="myTable1" class="display table" style="width: 100%; cellspacing: 0;">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Modelo</th>
                                    <th>Textura</th>
                                    <th>Colores</th>
                                    <th>Tamaño</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Temporada</th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Código</th>
                                    <th>Modelo</th>
                                    <th>Textura</th>
                                    <th>Colores</th>
                                    <th>Tamaño</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Temporada</th>


                                </tr>
                            </tfoot>



                            <tbody>
                                @foreach (var item in (IEnumerable<galibelle.Models.MyViewModel>)ViewBag.MyViewModel2)
                                {
                                    <tr>
                                        <td><a> @Html.DisplayFor(modelItem => item.Straps.codigo_strap)</a></td>
                                        <td><a> @Html.DisplayFor(modelItem => item.Modelos.nombre_modelo)</a></td>
                                        <td><a> @Html.DisplayFor(modelItem => item.Textura.nombre_Textura)</a></td>
                                        <td><a> @Html.DisplayFor(modelItem => item.Colores.nombre_color)</a></td>
                                        <td><a> @Html.DisplayFor(modelItem => item.Stock_straps.size_strap)</a></td>
                                        <td><a> @Html.DisplayFor(modelItem => item.Stock_straps.cantidad)</a></td>
                                        <td><a> @Html.DisplayFor(modelItem => item.Stock_straps.precio_strap_unitario)</a></td>
                                        <td><a> @Html.DisplayFor(modelItem => item.Stock_straps.temporada)</a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>






                <div class="row mt">
                    <div class="col-lg-12">
                        <div class="grey-panel2 donut-chart">
                            <div class="grey-header2 col-md-12">

                                <div class="col-md-12">
                                    <h3 style="font-weight:bold; color:white;">SUELAS</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-white">

                    <div class="panel-body">


                        <div class="table-responsive">
                            <!--<div class="dataTables_length" id="example3_length"><label>Show <select name="example3_length" aria-controls="example3" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                            <div id="example3_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="example3"></label></div>-->


                            <table id="myTable2" class="display table" style="width: 100%; cellspacing: 0;">
                                <thead>
                                    <tr>
                                        <th>Modelo</th>
                                        <th>Nombre</th>
                                        <th>Talla</th>
                                        <th>Cantidad</th>
                                        <th>Precio Unitario</th>
                                        <th>Temporada</th>

                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Modelo</th>
                                        <th>Nombre</th>
                                        <th>Talla</th>
                                        <th>Cantidad</th>
                                        <th>Precio Unitario</th>
                                        <th>Temporada</th>

                                    </tr>
                                </tfoot>



                                <tbody>
                                    @foreach (var item in (IEnumerable<galibelle.Models.MyViewModel>)ViewBag.MyViewModel)
                                    {
                                        <tr>
                                            <td><a> @Html.DisplayFor(modelItem => item.Modelos.nombre_modelo)</a></td>
                                            <td><a> @Html.DisplayFor(modelItem => item.Suelas.nombre_suela)</a></td>
                                            <td><a> @Html.DisplayFor(modelItem => item.Stock_suelas.talla_suela)</a></td>
                                            <td><a> @Html.DisplayFor(modelItem => item.Stock_suelas.cantidad_suela)</a></td>
                                            <td><a> @Html.DisplayFor(modelItem => item.Stock_suelas.precio_suela_unitario)</a></td>
                                            <td><a> @Html.DisplayFor(modelItem => item.Stock_suelas.temporada)</a></td>

                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>




        </section>
    </section>


    <!--main content end-->
    <!--footer start-->
    <!--footer end-->
</section>
<!-- js placed at the end of the document so the pages load faster -->
<script>
$(document).ready(function(){
    $('#myTable1').dataTable();
    $('#myTable2').dataTable();

});
</script>

